<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
</head>
<body>
    <h1>Category</h1>
    <a href="/">Home</a>
    <table border="1">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        <% data.forEach((el, i) => { %>
         <tr>
            <td><%= i + 1 %></td>
            <td><%= el.name %></td>
            <td>
                <a href="/catDetail/<%= el.id %>">Detail</a>
            </td>
         </tr>
        <% }) %>
    </table>
</body>
</html>